# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
instance/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff
*.log
*.pot

# Vim
*.swp

# Celery
celerybeat-schedule.db
