/* This is applied to full-page maps */

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    width: 100%;
}
#map .prediction.lt1min {
    color: #f00;
}
#map .prediction.lt2mins {
    color: #f80;
}
#map .prediction.lt5mins {
    color: #ff0;
}

/* Attribution link / "About" popup */
#map .leaflet-control-attribution {
    background-color: rgba(0,0,0,.8);
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-top-left-radius: 3px;
    color: #eee;
}
#map a,
#map a:hover,
#map a:visited,
#map a:active {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
#map div.leaflet-popup a.leaflet-popup-close-button {
    display: none;
    padding: 2px 2px 0 0;
}
#map div.leaflet-popup div.leaflet-popup-content-wrapper {
    border: 3px solid #666;
    background: #222;
    color: #eee;
}
#map div.leaflet-popup div.leaflet-popup-tip {
    background-color: #666;
}
#map div.leaflet-popup div.leaflet-popup-content {
    margin: .5em .66em;
}
#map div.leaflet-popup div.leaflet-popup-content header {
    font-weight: bold;
    font-size: 1.3em;
    color: #fff;
}
#about {
    display: none;
    background-color: #444;
    font-family: sans-serif;
    color: #eee;
    border-radius: 1em;
    box-sizing: border-box;
    border: 2px solid #888;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;
    padding: 1em;
    max-height: 80%;
    overflow: auto;
}
#about #close-about {
    float: right;
}
#about h2 {
    text-align: center;
}
#about a,
#about a:hover,
#about a:visited,
#about a:active {
    color: #fff;
    font-weight: bold;
}

@media all and (max-width: 600px) {
    #about {
        width: 100%;
        left: 0;
        top: 10%;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}
